@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #968f8f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #968f8f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

 /* styling of Input */
 .input {
  color: #fff;
  background-color: #0a0a0a;
  font-size: 0.9rem;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }


.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #050505;
  color: white;
}

.button3:hover {
  background-color: rgb(27, 25, 25);
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(19, 18, 18, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(250, 247, 247, 0.795);
  display: flex;
  margin-left: 100px;
}

.top_text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}


.top_text1 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.chat {
  width: 100%;
    flex: 2;
    border-right: 1px solid rgb(165, 162, 162);
    border-left: 1px solid rgb(165, 162, 162);
    display: flex;
    height: 100%;
    flex-direction: column;
    .top{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(105, 103, 103);
        text-align: center;
        position: relative; 

    }
    
    .center {
        padding: 20px;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
        .message {
          max-width: 70%;
          display: flex;
          gap: 20px;
    
          &.own {
            align-self: flex-end;
    
            .texts {
              p {
                background-color: #c0b7b7;
              }
            }
          }
    
          .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
    
            p {
              padding: 20px;
              background-color: rgba(224, 224, 235, 0.959);
              border-radius: 10px;
            }
    
            span {
              font-size: 13px;
            }
          }
        }
        .message-outgoing {
          max-width: 100%;
          align-self: flex-end;
          display: flex;
          gap: 20px;
          
    
          &.own {
            align-self: flex-end;
    
            .texts {
              p {
                align-self: flex-end;
                background-color: #c0b7b7;
              }
            }
          }
    
          .texts {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-self: flex-end;
    
            p {
              padding: 20px;
              background-color: rgba(45, 45, 48, 0.959);
              border-radius: 10px;
              align-self: flex-end;
            }
    
            span {
              font-size: 13px;
              align-self: flex-end;
            }
          }
        }
        
      }
    .bottom{
        padding: 20;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        border-top: 1px solid rgb(105, 103, 103);
        .inp {
            flex: 1;
            padding: 15px;
            border-radius: 10px;
            font-size: 16px;

        }

        .SendButton{
            padding: 10px 20px;
            background-color: #050505;
            color: white;
            border-radius: 12px;
            margin-left: 10px;
        }
        .SendButton:hover {
          background-color: white;
          color: rgb(0, 0, 0);
        }
        
    }
}


.UserProfile {
    display: flex;
    padding: 20px;
    align-items: center;
    margin-left: 100px;

}

.sidenav {
  height: 100vh;
  width:100px;
  background-color: #111;
  padding-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
}

.sidenav ul li {
  padding: 8px 16px;
  text-align: left;
}

.sidenav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidenav ul li a:hover {
  background-color: #575757;
}

.classic-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-color: #ffffff;
}

.classic-button:hover {
  background-color: #ffffff;
  color: #000000;
}
.small-text {
  font-size: 12px; /* Уменьшенный размер текста */
}


.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}


.chats button {
  padding: 5px;
  background-color: #f8f9fa;
  border: 1px solid #4d4a4a;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.chats button:hover {
  background-color: #000000;
}

.TopicList {
  flex: 1;
  overflow: scroll;
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;

    .searchBar {
      flex: 1;
      background-color: rgba(17, 25, 40, 0.5);
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;

    }

    .add {
      width: 36px;
      height: 36px;
      background-color: rgba(17, 25, 40, 0.5);
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd35;

    }
    .user-item {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      border-bottom: 1px solid #dddddd35;
  
      }

  }


/* From Uiverse.io by Mike11jr */ 
.btn {
  width: 100px;
  height: 30px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }
 
 .btn:hover {
  border-radius: 5px;
  background-color: white;
  color: #000000;
 }
 
 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }


.btn_marg {
  margin-left: auto;
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}
.user-profile {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-email {
  font-size: 16px;
  color: rgb(3, 3, 3);
  margin-bottom: 20px;
}

.profile-body {
  text-align: left;
}

.profile-body h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.edit-form .form-group {
  margin-bottom: 15px;
}

.edit-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.edit-form input,
.edit-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.edit-form textarea {
  resize: vertical;
}

.styled-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px; 
}

.login-container {
  width: 400px;
  padding: 30px;
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}